body {
   color:#555522;
   margin-left:auto;
   margin-right:auto;
   background: white;
}


div.header div.title {
   text-align:center;
   vertical-align:center;
   font-family:"Lucida Console", Monaco, monospace;
   font-size:180%;
}

div.header {
   text-align:center;
   vertical-align:center;
   line-height:200%;
   text-shadow:grey;
   color:#555522;
   padding: 10px 10px 0px 10px;
   background: #FCFCFC;
   margin-top: -10px;

   width:100%;

   border-bottom-color: #F5F5F5;
   border-bottom-style: solid;
   border-bottom-width: 1px;
}

img.alignleft
{
   float:left;
   size:50%;
}

img.thumb {
   float:left;
   width:100px;
   height:100px;
   margin:5px
}

ul {
   margin-left:0px;
}

li {
   margin-left:0px;
}

li.post {
   border: 5px solid #AAAAAA;
   display:block;
   margin-left:0px;
}

.post_title {
   text-align:center;
   vertical-align:center;
   margin-left:auto;
   margin-right:auto;
}

  .post_title h2 a:link, .post_title h2 a:visited {
     padding: 0.4em 0.8em;
     text-decoration: none;
     color: #555;
     background: #E6E6D1;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
  }

.posts_list ul {
   list-style: none;
   margin: 0;
   padding: 0;
   width: 100% !important;
}

.posts_list li {
   margin: 0.8em 0;
  }

  .posts_list li a:link, .posts_list li a:visited {
     padding: 0.4em 0.8em;
     text-decoration: none;
     color: #555;
     background: #E6E6D1;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
  }

  .posts_list li a:hover, .posts_list li a:active {
     color: #222;
     background: #D6D6C1;
  }


  .post_title time {
     text-align: center;
     color: #666;
     margin-bottom: 15px;
     font-size: 10px;
  }

  .posts_list time {
     text-align: center;
     color: #666;
     margin-bottom: 15px;
     font-size: 10px;
  }


  .link-list-extra li span {
     font-size: 0.7em;
     color: #888;
  }


  #date,li.post span{
     text-align: center;
     color: #666;
     margin-bottom: 15px;
     font-size: 12px;
}

.container {
   margin-left:auto;
   margin-right:auto;
   width:800px;
}

.nav-top {
   margin-left:auto;
   margin-right:auto;
   width:800px;
   height:25px;
}

.nav-top a {
   color: #4183C4;
   text-decoration: none;
   font-weight: bold;
}

.nav-left,.nav-right {
   margin:0px;
   padding-top:5px;
   background: #E6E6D1;
   display:inline;
   text-align:center;
   vertical-align:bottom;
   background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FCFCFC), to(#E8E8E8));
   border-top-color: #F5F5F5;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-top-style: solid;
   border-top-width: 1px;
   border-bottom-color: #F5F5F5;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-color: #E9E9E9;
   border-left-style: solid;
   border-left-width: 1px;
   border-right-color: #E9E9E9;
   border-right-style: solid;
   border-right-width: 1px;
}

.nav-left {
   float:left;
}

.nav-right {
   float:right;
}

.nav-top ul {
   margin:0px;
   display:inline;
   float:left;
   list-style-type:none;
}

.nav-top li {
   background: url(https://assets1.github.com/images/modules/header/nav-rule.png) no-repeat 0px 50%;
   display:inline;
   margin: 0px;
   margin:0px;
   padding: 0px 8px 0px 9px;
}

.container .left,.right {
   width:130px;
   padding-left:10px;
   padding-right:10px;
   height:300px;
   display:block;
}

.container .right {
   border-bottom-right-radius: 10px;
}

.container .left {
   border-bottom-left-radius: 10px;
}

.container .center {
   width:630px;
   padding:10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.center,.left,.right {
   display:inline;
   float:left;
}

a:link {color:#5F4679;}    /* unvisited link */
a:visited {color:#364F89;} /* visited link */
a:hover {color:#4F4F4F;}   /* mouse over link */
a:active {color:#555522;}  /* selected link */

