body {
   color:#555522;
   margin-left:auto;
   margin-right:auto;
   background: #B6B6A1;
}


div.title {
   text-align:center;
   vertical-align:center;
   line-height:200%;
   font-size:180%;
   font-family:"Lucida Console", Monaco, monospace;
   text-shadow:grey;
   color:#555522;

   padding: 10px 10px 10px 10px;
   background: #D6D6C1;
   margin-top: -10px;
   margin-left: -10px;
   border: 1px solid #D6D6C1;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;

   width:800px;
}

img.alignleft
{
   float:left;
   size:50%;
}

img.thumb {
   float:left;
   width:100px;
   height:100px;
   margin:5px
}

#date {
  text-align: center;
  color: #666;
  margin-bottom: 15px;
  font-size: 12px;
}

.container {
   margin-left:auto;
   margin-right:auto;
   width:800px;
}

.container .left,.right {
   width:80px;
   background: #E6E6D1;
   padding-left:10px;
   padding-right:10px;
   height:300px;
   display:block;
}

.container .right {
   border-bottom-right-radius: 10px;
}

.container .left {
   border-bottom-left-radius: 10px;
}

.container .center {
   background: #D6D6C1;
   width:580px;
   padding:10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}


.center,.left,.right {
   display:inline;
   float:left;
}

a:link {color:#5F4679;}    /* unvisited link */
a:visited {color:#364F89;} /* visited link */
a:hover {color:#4F4F4F;}   /* mouse over link */
a:active {color:#555522;}  /* selected link */

