body {
   color:#555522;
   margin-left:auto;
   margin-right:auto;
   min-width:700px;
   width:60%;
}

div.title {
   text-align:center;
   vertical-align:center;
   line-height:200%;
   font-size:180%;
   font-family:"Lucida Console", Monaco, monospace;
   text-shadow:grey;
   color:#555522;

   padding: 10px 10px 10px 10px;
   background: #D6D6C1;
   margin-top: -10px;
   margin-left: -10px;
   border: 1px solid #D6D6C1;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
}
img.alignleft
{
   float:left;
   size:50%;
}

.container {
   display:inline;
}

a:link {color:#5F4679;}    /* unvisited link */
a:visited {color:#364F89;} /* visited link */
a:hover {color:#4F4F4F;}   /* mouse over link */
a:active {color:#555522;}  /* selected link */

