body
{
   background: #F0F0F0;
   color: #555555;
   font-family: Arial, Tahoma, Verdana;
   font-size: 12px;
   line-height: 20px;
   margin: 0 auto 20px;
   padding: 0;
}
#wrap
{
   background: #FFFFFF;
   border: 1px solid #E4E4E4;
   clear: both;
   khtml-border-radius: 10px;
   margin: 0 auto 0;
   moz-border-radius: 10px;
   overflow: hidden;
   padding: 15px 20px 0 20px;
   webkit-border-radius: 10px;
   width: 920px;
}
a, a:visited
{
   color: #008DCF;
   text-decoration: none;
}
a:hover
{
   color: #008DCF;
   text-decoration: underline;
}
a img
{
   border: none;
}
a:focus, a:hover, a:active
{
   outline: none;
}
#header
{
   background: #FFFFFF;
   border: 1px solid #E4E4E4;
   border-radius: 0 0 10px 10px;
   border-top: none;
   height: 80px;
   khtml-border-radius: 10px;
   margin: 0 auto 20px;
   moz-border-radius-bottomleft: 10px;
   moz-border-radius-bottomright: 10px;
   overflow: hidden;
   padding: 0;
   position: relative;
   webkit-border-bottom-left-radius: 10px;
   webkit-border-bottom-right-radius: 10px;
   webkit-border-top-left-radius: 0;
   webkit-border-top-right-radius: 0;
   width: 960px;
}
#header h1, #header h1 a, #header h1 a:visited, #header h4, #header h4 a, #header h4 a:visited
{
   color: #333;
   font-family: Tahoma, Arial, Verdana;
   font-size: 24px;
   font-weight: normal;
   margin: 0 0 7px 0;
   padding: 0;
   text-decoration: none;
}
#header h1 a:hover, #header h4 a:hover
{
   text-decoration: none;
}
.header-left
{
   float: left;
   margin: 0;
   padding: 15px 0 0 20px;
   width: 690px;
}
.header-left p
{
   font-family: Tahoma, Arial, Verdana;
   font-size: 14px;
   font-style: italic;
   margin: 0;
   padding: 0;
}
.header-left a img
{
   border: none;
   margin: 0;
   padding: 0;
}
.header-right
{
   margin: 0;
   position: absolute;
   right: 20px;
   text-align: right;
   top: 35px;
   width: 265px;
}
#access
{
   margin: 0 auto;
   width: 960px;
}
#nav
{
   background: #333 url(images/nav.png) repeat-x;
   display: block;
   float: left;
   khtml-border-radius: 10px;
   margin: 0 auto;
   min-height: 45px;
   moz-border-radius-topleft: 10px;
   moz-border-radius-topright: 10px;
   padding: 0;
   position: relative;
   text-transform: uppercase;
   webkit-border-bottom-left-radius: 0;
   webkit-border-bottom-right-radius: 0;
   webkit-border-top-left-radius: 10px;
   webkit-border-top-right-radius: 10px;
   width: 960px;
}
.navleft
{
   float: left;
   margin: 0;
   padding: 0;
   width: 710px;
}
.navright
{
   float: right;
   margin: 0;
   padding: 13px 20px 0 0;
   text-align: right;
   width: 220px;
}
.navright a, .navright a:visited
{
   color: #EEEEEE;
   font-family: Arial, Tahoma, Verdana;
   font-weight: normal;
   text-decoration: none;
}
.navright a:hover
{
   color: #EEEEEE;
   text-decoration: underline;
}
.rsslink
{
   background: url(images/rss.png) no-repeat left center;
   margin: 0 0 0 10px;
   padding: 3px 0 3px 16px;
}
#nav .widget_nav_menu h4
{
   display: none;
}
.nav
{
   font-family: Arial, Tahoma, Verdana;
   font-size: 12px;
   padding: 0 0 0 10px;
}
.nav ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.nav ul li
{
   float: left;
   position: relative;
}
.nav ul li a
{
   background: url(images/navline.png) no-repeat right;
   color: #EEEEEE;
   display: block;
   font-size: 12px;
   margin: 0;
   padding: 13px 17px 12px 15px;
   text-decoration: none;
   text-shadow: #000000 1px 1px;
}
.nav ul ul
{
   display: none;
   float: left;
   left: 0;
   position: absolute;
   top: 45px;
   z-index: 99999;
}
.nav ul ul ul
{
   left: 100%;
   top: 0;
}
.nav ul li:hover > ul
{
   display: block;
}
.nav ul li a:hover, .nav ul li a.selected
{
   background: #333 url(images/navhov.png) top;
   color: #EEEEEE;
}
.nav ul li ul li a
{
   background: #434343;
   border-bottom: 1px solid #323232;
   color: #FFFFFF;
   margin: 0;
   padding: 6px 10px 6px 10px;
   text-shadow: #000000 1px 1px;
   text-transform: none;
   width: 140px;
}
.nav ul li ul li a:hover
{
   background: #323232;
   color: #FFFFFF;
}
.nav li:hover > a
{
   background: url(images/navhov.png) top;
}
.nav ul ul:hover > a
{
   background: #323232;
}
.nav .downarrowclass
{
   position: absolute;
   right: 10px;
   top: 18px;
}
.nav .rightarrowclass
{
   position: absolute;
   right: 7px;
   top: 9px;
}
#supernav
{
   position: relative;
}
#supernav ul
{
   float: left;
}
#nav
{
   z-index: 100;
}
#subnav
{
   background: #666 url(images/subnav.png) repeat-x;
   clear: both;
   float: left;
   khtml-border-radius: 10px;
   margin: 0 auto 20px;
   min-height: 37px;
   moz-border-radius-bottomleft: 10px;
   moz-border-radius-bottomright: 10px;
   webkit-border-bottom-left-radius: 10px;
   webkit-border-bottom-right-radius: 10px;
   webkit-border-top-left-radius: 0;
   webkit-border-top-right-radius: 0;
   width: 950px;
}
#subnav .widget_nav_menu h4
{
   display: none;
}
.subnav
{
   padding: 0 0 0 10px;
   text-transform: uppercase;
}
.subnav ul ul
{
   left: 0;
   top: 37px;
}
.subnav ul li a
{
   background: transparent;
   color: #FFFFFF;
   display: block;
   font-size: 12px;
   margin: 0;
   padding: 9px 10px 8px 10px;
   text-decoration: none;
   text-shadow: #000000 1px 1px;
}
.subnav ul li a:hover, .subnav ul li a.selected
{
   background: url(images/subnavhov.png);
   color: #FFFFFF;
}
.subnav ul li ul li a
{
   background: #777777;
   border-bottom: 1px solid #666666;
   color: #FFFFFF;
   margin: 0;
   padding: 6px 10px 6px 10px;
   text-shadow: #000000 1px 1px;
   text-transform: none;
   width: 140px;
}
.subnav ul li ul li a:hover
{
   background: #666666;
}
.subnav li:hover > a
{
   background: url(images/subnavhov.png);
}
.subnav ul ul:hover > a
{
   background: #666666;
}
.subnav .downarrowclass
{
   position: absolute;
   right: 10px;
   top: 13px;
}
.subnav .rightarrowclass
{
   position: absolute;
   right: 7px;
   top: 9px;
}
#content
{
   margin: 0 auto 0;
   padding: 0;
   width: 920px;
}
#content-left
{
   float: left;
   margin: 0;
   padding: 10px 0 0 0;
   width: 630px;
}
#content .image-attachment,
#content .full-width
{
   width: 920px;
}
#content .post img, #content .post p img
{
   max-width: 100%;
}
#content a img
{
   border: none;
}
#content blockquote
{
   background: #F5F5F5;
   border: 1px solid #E6E6E6;
   khtml-border-radius: 3px;
   margin: 0 25px 15px 25px;
   moz-border-radius: 3px;
   padding: 10px 20px 0 15px;
   webkit-border-radius: 3px;
}
#content pre
{
   background: #F5F5F5;
   border: 1px solid #E6E6E6;
   khtml-border-radius: 3px;
   margin: 0 0 15px 0;
   moz-border-radius: 3px;
   overflow: auto;
   padding: 10px 20px 0 15px;
   webkit-border-radius: 3px;
   width: 593px;
}
#content blockquote p
{
   margin: 0;
   padding: 0 0 10px 0;
}
.post
{
   clear: both;
   margin: 0 0 40px 0;
   padding: 0;
}
.entry
{
   margin: 0;
   padding: 0;
}
.entry p
{
   margin: 0;
   padding: 0 0 15px 0;
}
.post ul
{
   list-style-type: square;
   margin: 0;
   padding: 0 0 15px 0;
}
.post ul li
{
   list-style-type: square;
   margin: 0 0 0 20px;
   padding: 0;
}
.post ul ul
{
   list-style-type: square;
   margin: 0;
   padding: 0 0 0 0;
}
.post ol
{
   margin: 0;
   padding: 0 0 15px 0;
}
.post ol li
{
   margin: 0 0 0 20px;
   padding: 0;
}
.post table
{
   border: 1px solid #e6e6e6;
   margin: 0 0 15px 0;
   width: 100%;
}
.post th,
.post td
{
   border: 1px solid #e6e6e6;
   padding: .25em 1em;
   text-align: left;
}
.comments-content
{
   margin: 0;
   padding: 0;
}
.sticky
{
   background: #F5F5F5;
   border: 1px solid #E6E6E6;
   margin: 0 0 40px 0;
   padding: 20px 20px 15px 20px;
}
.clear
{
   clear: both;
}
.image-attachment .post-info
{
   float: left;
}
.image-attachment .image-navigation
{
   float: right;
   font-size: 11px;
   margin: 0;
   text-transform: uppercase;
}
.image-attachment .image-navigation span
{
}
.image-attachment .entry-attachment
{
   background: #F5F5F5;
   border: 1px solid #DDD;
   clear: both;
   margin: 0 0 15px 0;
   padding: 15px 0;
}
.image-attachment .entry-attachment img
{
   display: block;
   margin: 0 auto;
}
#nav-above
{
   margin: 0;
   padding: 0 0 40px 0;
}
.nav-previous
{
   float: left;
   width: 50%;
}
.nav-next
{
   float: right;
   text-align: right;
   width: 50%;
}
.post-info
{
   font-size: 11px;
   margin: 0 0 10px 0;
   padding: 0;
   text-transform: uppercase;
}
.post-info p
{
   margin: 0;
   padding: 0;
}
.post-info abbr
{
   border: none;
}
.post-meta
{
   border-top: 1px dotted #CCCCCC;
   font-size: 11px;
   margin: 0;
   padding: 5px 0 0 0;
   text-transform: uppercase;
}
.post-meta p
{
   margin: 0;
   padding: 0;
}
.author-box
{
   background: #F5F5F5;
   border: 1px solid #DDDDDD;
   clear: both;
   margin: 20px 0 40px 0;
   overflow: auto;
   padding: 10px;
}
.author-box p
{
   margin: 0;
   padding: 0;
}
.author-box img
{
   background: #FFFFFF;
   border: 1px solid #E6E6E6;
   float: left;
   margin: 0 10px 0 0;
   padding: 4px;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6
{
   color: #333333;
   font-family: Arial, Tahoma, Verdana;
   font-weight: normal;
   margin: 0 0 5px 0;
   padding: 0;
   text-decoration: none;
}
#content h1
{
   border-bottom: 1px dotted #CCCCCC;
   font-size: 20px;
   margin: 0 0 10px 0;
   padding: 0 0 5px 0;
}
#content h2
{
   border-bottom: 1px dotted #CCCCCC;
   font-size: 20px;
   margin: 0 0 10px 0;
   padding: 0 0 5px 0;
}
#content h2 a, #content h2 a:visited
{
   color: #333333;
   text-decoration: none;
}
#content h2 a:hover
{
   color: #008DCF;
   text-decoration: none;
}
#content h3
{
   font-size: 18px;
}
#content h4
{
   font-size: 16px;
}
#content h5
{
   font-size: 14px;
}
#content h6
{
   font-size: 12px;
}
.time
{
   background: url(images/icon-time.png) no-repeat top left;
   margin: 0 0 0 3px;
   padding: 0 0 2px 18px;
}
.post-comments
{
   background: url(images/icon-comments.png) no-repeat top left;
   margin: 0 0 0 3px;
   padding: 0 0 2px 18px;
}
.categories
{
   background: url(images/icon-categories.png) no-repeat top left;
   margin: 0 0 0 3px;
   padding: 0 0 2px 18px;
}
.tags
{
   background: url(images/icon-tags.png) no-repeat top left;
   margin: 0 0 0 3px;
   padding: 0 0 2px 18px;
}
img.centered
{
   display: block;
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
}
img.alignnone
{
   display: inline;
   margin: 0 0 10px 0;
   padding: 0;
}
img.alignright
{
   display: inline;
   margin: 0 0 10px 15px;
   padding: 0;
}
img.alignleft
{
   display: inline;
   margin: 0 15px 10px 0;
   padding: 0;
}
.aligncenter
{
   display: block;
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
}
.alignright
{
   float: right;
   margin: 0 0 10px 10px;
}
.alignleft
{
   float: left;
   margin: 0 10px 10px 0;
}
.wp-caption
{
   background: #F5F5F5;
   border: 1px solid #E4E4E4;
   khtml-border-radius: 3px;
   moz-border-radius: 3px;
   padding: 7px 2px 7px 2px;
   text-align: center;
   webkit-border-radius: 3px;
}
.wp-caption img
{
   border: 0;
   margin: 0 0 0 0;
   padding: 0;
}
.wp-caption p.wp-caption-text
{
   font-size: 11px;
   font-weight: normal;
   line-height: 12px;
   margin: 0;
   padding: 5px 0 0 !important;
}
#content img.wp-smiley
{
   border: none;
   float: none;
   margin: 0;
   padding: 0;
}
#content img.wp-wink
{
   border: none;
   float: none;
   margin: 0;
   padding: 0;
}
#sidebar
{
   display: inline;
   float: right;
   margin: 0;
   padding: 0;
   width: 270px;
}
#sidebar .widget
{
   margin: 0 0 30px 0;
   padding: 0;
}
#sidebar h4
{
   background: url(images/sidebar-headline.png) left no-repeat;
   border-bottom: 1px dotted #CCCCCC;
   color: #333333;
   font-family: Arial, Tahoma, Verdana;
   font-size: 16px;
   font-weight: normal;
   margin: 0 0 5px 0;
   padding: 0 0 5px 15px;
}
#sidebar p
{
   margin: 0;
   padding: 0 0 10px 0;
}
#sidebar a img, #sidebar a:hover img
{
   border: none;
   margin: 0;
   padding: 0;
}
#sidebar ul
{
   list-style-type: none;
   margin: 5px 0 0 0;
   padding: 0;
}
#sidebar ul li
{
   border-bottom: 1px dotted #CCCCCC;
   list-style-type: none;
   margin: 0 0 3px 0;
   padding: 0 0 3px 5px;
}
#sidebar .widget_tag_cloud div
{
   padding: 0 5px 0 5px;
}
.widget_tag_cloud a
{
   line-height: 1.25em;
}
#sidebar .textwidget
{
   margin: 0;
   padding: 0 5px 0 5px;
}
.widget select
{
   background: #F5F5F5;
   border: 1px solid #E6E6E6;
   color: #555555;
   display: inline;
   font-family: Arial, Tahoma, Verdana;
   font-size: 12px;
   margin: 5px 0 0 0;
   padding: 3px;
   width: 265px;
}
#searchform
{
   font-weight: bold;
   margin: 0;
   padding: 0;
}
#s
{
   background: #F5F5F5 !important;
   border: 1px solid #D6D6D6;
   color: #555555;
   font-family: Arial, Tahoma, Verdana;
   font-size: 12px;
   font-weight: normal;
   margin: 5px 5px 0 0;
   padding: 3px 0 4px 5px;
   width: 120px;
}
#header #s
{
   margin: 0 2px 0 0;
   width: 180px;
}
#searchsubmit
{
   background: #666666;
   border: 1px solid #666666;
   color: #FFFFFF;
   font-family: Arial, Tahoma, Verdana;
   font-size: 11px;
   font-weight: bold;
   khtml-border-radius: 3px;
   margin: 0;
   moz-border-radius: 3px;
   padding: 3px 5px 3px 5px;
   text-decoration: none;
   text-transform: uppercase;
   webkit-border-radius: 3px;
}
#searchsubmit:hover
{
   background: #333333;
   border: 1px solid #333333;
}
#wp-calendar
{
   margin: 0;
   padding: 0;
   width: 100%;
}
#wp-calendar caption
{
   color: #333333;
   font-family: Arial, Tahoma, Verdana;
   font-size: 12px;
   font-style: italic;
   font-weight: normal;
   margin: 0 0 5px 0;
   padding: 2px 5px 0 0;
   text-align: right;
}
#wp-calendar th
{
   color: #333333;
}
#wp-calendar thead
{
   background: #F5F5F5 !important;
   color: #F5F5F5 !important;
   font-weight: bold;
   margin: 10px 0 0 0;
}
#wp-calendar td
{
   background: #F5F5F5;
   font-size: 12px;
   font-weight: normal;
   margin: 0;
   padding: 2px;
   text-align: center;
}
#wp-calendar tfoot td
{
   background: none;
   margin: 0;
   padding: 0;
}
#footer-widgeted
{
   background: #F5F5F5;
   border: 1px solid #E4E4E4;
   clear: both;
   margin: 0 auto 20px;
   overflow: hidden;
   padding: 0;
   width: 920px;
}
#footer-widgeted .widget
{
   background: none;
   border: none;
   margin: 0;
   padding: 0;
}
#footer-widgeted h4
{
   background: url(images/sidebar-headline.png) left no-repeat;
   border-bottom: 1px dotted #CCCCCC;
   color: #333333;
   font-family: Arial, Tahoma, Verdana;
   font-size: 16px;
   font-weight: normal;
   margin: 0 0 5px 0;
   padding: 0 0 5px 15px;
}
#footer-widgeted p
{
   margin: 0;
   padding: 0 0 10px 0;
}
#footer-widgeted a img, #footer-widgeted a:hover img
{
   border: none;
   margin: 0;
   padding: 0;
}
#footer-widgeted ul
{
   list-style-type: none;
   margin: 5px 0 0 0;
   padding: 0;
}
#footer-widgeted ul li
{
   border-bottom: 1px dotted #CCCCCC;
   list-style-type: none;
   margin: 0 0 3px 0;
   padding: 0 0 3px 5px;
}
#footer-widgeted .widget_tag_cloud div
{
   padding: 0 5px 0 5px;
}
#footer-widgeted .textwidget
{
   margin: 0;
   padding: 0 5px 0 5px;
}
.footer-widgeted-1
{
   float: left;
   margin: 0;
   padding: 15px 20px 5px 20px;
   width: 280px;
}
.footer-widgeted-2
{
   float: left;
   margin: 0;
   padding: 15px 0 5px 0;
   width: 280px;
}
.footer-widgeted-3
{
   float: right;
   margin: 0;
   padding: 15px 20px 5px 0;
   width: 280px;
}
#footer
{
   border-top: 1px solid #E4E4E4;
   clear: both;
   color: #666666;
   font-size: 12px;
   margin: 0 auto 0;
   padding: 10px 0 0 0;
   width: 920px;
}
#footer a, #footer a:visited
{
   color: #666666;
   font-weight: bold;
   text-decoration: none;
}
#footer a:hover
{
   color: #008DCF;
   text-decoration: none;
}
#footer p
{
   margin: 0;
   padding: 0;
}
.footerleft
{
   float: left;
   margin: 0;
   padding: 0 0 10px 0;
   width: 300px;
}
.footerright
{
   float: right;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: right;
   width: 600px;
}
img#wpstats
{
   clear: both;
   margin: 0 auto;
}
#comments
{
   margin: 0 0 15px 0;
   padding: 0;
}
#respond
{
   margin: 30px 0 0 0;
   padding: 0;
}
#commentform input
{
   background: #F5F5F5 !important;
   border: 1px solid #E6E6E6 !important;
   color: #555555;
   font-family: Arial, Tahoma, Verdana;
   font-size: 12px;
   margin: 5px 5px 0 10px !important;
   padding: 3px 0 3px 3px !important;
   width: 250px !important;
}
#commentform textarea
{
   font-size: 12px;
}
#comment
{
   background: #F5F5F5 !important;
   border: 1px solid #E6E6E6;
   color: #555555;
   font-family: Arial, Tahoma, Verdana;
   font-size: 11px;
   margin: 5px 5px 7px 0;
   padding: 3px 0 3px 3px;
   width: 95%;
}
#commentform #submit
{
   background: #666666 !important;
   border: 1px solid #666666 !important;
   color: #FFFFFF;
   font-family: Arial, Tahoma, Verdana;
   font-size: 11px;
   font-weight: bold;
   khtml-border-radius: 3px;
   margin: 0;
   moz-border-radius: 3px;
   padding: 2px 5px 2px 5px;
   text-decoration: none;
   text-transform: uppercase;
   webkit-border-radius: 3px;
}
#commentform #submit:hover
{
   background: #333333 !important;
   border: 1px solid #333333;
}
.commentlist li ul li
{
   font-size: 12px;
}
.commentlist li
{
   font-weight: bold;
}
.commentlist li .avatar
{
   border: 1px solid #E6E6E6;
   float: right;
   margin: 0 5px 0 10px;
   padding: 4px;
}
.commentlist cite, .commentlist cite a
{
   font-size: 12px;
   font-style: normal;
   font-weight: bold;
}
.commentlist p
{
   font-weight: normal;
   text-transform: none;
}
.commentmetadata
{
   font-weight: normal;
}
#commentform input
{
   margin: 5px 5px 1px 0;
   padding: 2px;
   width: 170px;
}
#respond:after
{
   clear: both;
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}
#commentform p
{
   margin: 5px 0 5px 0;
}
dd
{
   margin: 5px 0 0 0;
   padding: 0;
}
.alt
{
   margin: 0;
   padding: 10px;
}
.commentlist
{
   margin: 0;
   padding: 0;
}
.commentlist ol
{
   margin: 0 0 15px 0;
   padding: 10px;
}
.commentlist li
{
   list-style: none;
   margin: 15px 0 5px 0;
   padding: 10px 5px 10px 10px;
}
.commentlist li ul li
{
   margin-left: 10px;
   margin-right: -6px;
}
.commentlist p
{
   margin: 10px 5px 10px 0;
   padding: 0;
}
.children
{
   margin: 0;
   padding: 0;
}
.nocomments
{
   margin: 0;
   padding: 0;
   text-align: center;
}
.reply a, .reply a:visited
{
   background: #666666;
   border: 1px solid #666666;
   color: #FFFFFF;
   font-size: 11px;
   khtml-border-radius: 3px;
   margin: 0;
   moz-border-radius: 3px;
   padding: 2px 5px 3px 5px;
   text-decoration: none;
   webkit-border-radius: 3px;
}
.reply a:hover
{
   background: #333333;
   border: 1px solid #333333;
   text-decoration: none;
}
.commentmetadata
{
   display: block;
   font-size: 10px;
   margin: 0;
}
.subnavigation
{
   display: block;
   margin-bottom: 40px;
   margin-top: 10px;
   text-align: center;
}
.alignright
{
   float: right;
}
.alignleft
{
   float: left;
}
.thread-alt
{
   background: #F5F5F5;
   margin: 0;
   padding: 0;
}
.thread-even
{
   background: #FFFFFF;
   margin: 0;
   padding: 0;
}
.depth-1
{
   border: 1px solid #FFFFFF;
   margin: 0;
   padding: 0;
}
.even, .alt
{
   border: 1px solid #E6E6E6;
   margin: 0;
   padding: 0;
}
