<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <title>{{ page.title }}</title>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <meta http-equiv="content-language" content="en" />
      <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="/css/pygment_trac.css" type="text/css" media="screen, projection" />
   </head>
   <body>
      <div class="container">
         <div class="header">
            <br/>
            <div class="title">
               <span class="mouse">&lt;:3 )~~ </span><a href="http://devemouse.github.com/" class="title"> devemouse </a>
            </div>
         </div>
         <div class="nav-top">
         </div>
         <div class="left">
            <h3>strony</h3>
            <a href="/about.html">o mnie</a>
            <a href="/projects.html">projekty</a>
         </div>
         <div id="main" class="center">
            {{ content }}
         </div>
         <div class="right">
            <h3>kategorie</h3>
            {% for category in site.categories %}
            <a href="#{{ category | first }}">{{ category | first }}</a>
            {% endfor %}
         </div>
      </div>
   </body>
</html>

